* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior: none !important
}

.website-divider-container-734167 {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.divider-img-734167 {
  position: absolute;
  width: 500%;
  height: 105px;
  transform: scale(1, 1);
  bottom: 0px;
  left: 0px;
  fill: rgb(255, 255, 255);
}

.displayOff {
  display: none;
}

.displayOn {
  display: flex;
}

/* Loader styles */
#loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.886);
  justify-content: center;
  align-items: center;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 14vw;
  height: 14vw;
  color: #fff;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #b20b15;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.map-container {
  touch-action: none;
  overscroll-behavior: none
}