#ARCHIVOS PROHIBIDOS

<Files "conexion.json">
    Require all denied
</Files>

<Files "cliente_zoho.json">
    Require all denied
</Files>

<Files "code_zoho.json">
    Require all denied
</Files>

<Files "tokens_zoho.json">
    Require all denied
</Files>
