#ARCHIVOS PROHIBIDOS

<Files ".env">
    Require all denied
</Files>

<Files "conexion.json">
    Require all denied
</Files>

<Files "credenciales.json">
    Require all denied
</Files>

<Files "cliente_zoho.json">
    Require all denied
</Files>

<Files "code_zoho.json">
    Require all denied
</Files>

<Files "tokens_zoho.json">
    Require all denied
</Files>

<Files "a3Erp.json">
    Require all denied
</Files>

<Files "jwt.json">
    Require all denied
</Files>

RewriteEngine On

#Permitir que los archivos .html se accedan sin la extensión y con ella
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*?)/?$ $1.html [L,QSA]

#Permitir que los archivos .php se accedan sin la extensión y con ella
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [L,QSA]
